In [1]:
with open('/Users/aishwaryachinnari/DSI-SF-3/datasets/coffee_preferences/dat12-coffee-preferences.csv','r')as f:
    lines = f.readlines()

In [2]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

In [4]:
# for-loop
new_lines = []
for line in lines:
    new_lines.append(line.replace('\n', ''))

In [5]:
new_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

In [6]:
header = new_lines[0]
data =new_lines[1:]

In [7]:
header

'Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe'

In [8]:
data

['3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

In [9]:
#header and the data strings on commas

first_row =data[0]
print first_row
print type(first_row)

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,
<type 'str'>

In [10]:
second_row =data[1]
row1 =first_row.split(',')
row2 = second_row.split(',')

print row1
print row2
print len(row1),len(row2)

['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', '']
['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5']
11 11

In [11]:
header = header.split(',')

In [12]:
new_data=[]
for row_string in data:
    row_list = row_string.split(',')
    new_data.append(row_list)

In [13]:
new_data[4][1]

'Isabel'

In [14]:
# Remove "Timestamp" column

In [16]:
header = header[1:]
data_nots =[]
for row in new_data:
    data_nots.append(row[1:])
    
data_nots

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

In [21]:
# numeric coluns to float and empty fields to None
a=[1,2,3]
b=['a','b','c']
c=[8,9,0]

counter =0
for a_item in a:
    for b_item in b:
        for c_item in c:
            counter +=1
counter
a_list_size =len(a)
b_list_size=len(b)
c_list_size=len(c)
a_list_size*b_list_size*c_list_size

27

In [40]:
parsed_data =[]

for row in data_nots:
    new_row =[]
    for cell in row:
        try:
            cell =float(cell)
        except:
            if cell =='':
                cell= None
        new_row.append(cell)
    parsed_data.append(new_row)

In [41]:
parsed_data

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

In [47]:
# count None values per person
nones_per_user={}

for row in parsed_data:
    name = row[0]
    
    none_counter = 0
    for cell in row[1:]:
        if cell == None:
            none_counter +=1
            
        nones_per_user[name] = none_counter
        
nones_per_user

{'Ajay Anand': 4,
 'Alessandro': 3,
 'Alex': 6,
 'Alison': 3,
 'April': 3,
 'Dave H': 6,
 'David Feng': 1,
 'Deepthi': 5,
 'Hugh Jass': 0,
 'India': 2,
 'Isabel': 2,
 'Markus': 5,
 'Matt': 0,
 'Otto': 2,
 'Ramesh': 5,
 'Rocky': 0,
 'Vanessa': 2,
 'Vijay': 0,
 'Zach': 4,
 'cheong-tseng eng': 6}

In [49]:
# average rating per coffee brand
for ind, name in enumerate(header):
    print 'column:', ind, 'brand:',name

column: 0 brand: Name
column: 1 brand: Starbucks
column: 2 brand: PhilzCoffee
column: 3 brand: BlueBottleCoffee
column: 4 brand: PeetsTea
column: 5 brand: CaffeTrieste
column: 6 brand: GrandCoffee
column: 7 brand: RitualCoffee
column: 8 brand: FourBarrel
column: 9 brand: WorkshopCafe

In [54]:
average_ratings ={}

for column_index, column_name in enumerate(header):
    if column_index > 0:
        
        brand_ratings =[]
        for row in parsed_data:
            brand_cell = row[column_index]
            if not brand_cell == None:  # if loop 
                brand_ratings.append(brand_cell)
            
        if len(brand_ratings) > 0:
            average_rating = sum(brand_ratings)/len(brand_ratings)
        else:
            average_rating =None
            
        average_ratings[column_name] = average_rating
average_ratings

{'BlueBottleCoffee': 4.0,
 'CaffeTrieste': 3.375,
 'FourBarrel': 3.3,
 'GrandCoffee': 2.0,
 'PeetsTea': 3.1052631578947367,
 'PhilzCoffee': 4.25,
 'RitualCoffee': 3.769230769230769,
 'Starbucks': 2.85,
 'WorkshopCafe': 2.9166666666666665}